<ion-view view-title="Comics">
  <ion-content>
    <label class="item item-input">
      <i class="icon ion-search placeholder-icon"></i>
      <input type="search" placeholder="Search" ng-model="searchQuery">
    </label>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="data in comics | filter:searchQuery" type="item-text-wrap" href="#/comics/detail/{{data.id}}">
        <img ng-src="{{data.images[0].path}}.jpg">
        <h2>{{data.title}}</h2>
        <p>{{data.lastText}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
